.c-mv {
  background-color: rgb(var(--color-black) / 0.05);
  border-radius: 20px;
  padding-block: 30px;
  padding-inline: 20px;

  @media (--pc) {
    padding-inline: 30px;
  }

  > :last-child {
    margin-block-end: 0;
  }
}

.c-mv__title {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 0;
}
