@charset "UTF-8";

/* リセットCSSに付け加える用のベーススタイル
   ========================================================================== */

* {
  /* flexboxのオーバーフローを防ぐ用 */
  min-inline-size: 0;
}

html {
  cursor: auto;
}

body {
  font-family: var(--font-gothic);
  color: var(--color-black-rgb);
  font-size: 1rem;

  /* 【注意】：antialiased を設定するとスッキリとした見た目にはなるものの、文字の印象が弱めになり、背景色とのコントラスト等により見難くなる場合がある。 */
  /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  */

  /* プロポーショナルメトリクスを有効にする指定(日本語フォントの自動カーニング) 
  ※ Safariはpaltが効かないかもしれない */
  font-feature-settings: "palt" 1;
}

p {
  line-height: 1.8;
}
