@charset "UTF-8";

/* リセットCSSに付け加える用のベーススタイル
   ========================================================================== */

* {
  /* flexboxのオーバーフローを防ぐ用 */
  min-inline-size: 0;
}

html {
  cursor: auto;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  overflow-wrap: anywhere;
  word-break: auto-phrase; /* 文節での改行。Chrome、Edgeのみ。 */
}

body {
  font-family: var(--font-gothic);
  color: var(--color-black-rgb);
  font-size: 1rem;
  letter-spacing: 0.05em;

  /* 【注意】：antialiased を設定するとスッキリとした見た目にはなるものの、文字の印象が弱めになり、背景色とのコントラスト等により見難くなる場合がある。 */
  /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  */

  /* プロポーショナルメトリクスを有効にする指定(日本語フォントの自動カーニング) 
  ※ Safariはpaltが効かないかもしれない */
  font-feature-settings: "palt" 1;
}

p {
  line-height: 1.8;
}

a {
  &[target="_blank"] > svg {
    vertical-align: baseline;
    margin-inline-start: 0.2rem;
    width: 0.8em;
  }
}

@media (--hover) {
  a {
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
