.skills__title {
  margin-block-start: 2.5rem;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding-inline-start: 0;
  list-style-type: none;
}

.skills__item {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;

  > *:not(h3) {
    margin-inline-start: 1em;
  }

  > *:last-child {
    margin-block-end: 1em;
  }
}

.skills__years {
  display: flex;
  align-items: baseline;
  column-gap: 1em;

  > .__title::after {
    content: ":";
    margin-inline-start: 0.25em;
  }

  > .__year {
    margin-inline-start: 0;
  }
}

.skills__smallTitle {
  padding-inline-start: 0.5em;
  font-size: 0.7em;
  font-weight: normal;
}
