.skillList {
  padding-inline-start: 0;
  list-style-type: none;
}

.skillList__years {
  display: flex;
  align-items: baseline;
  column-gap: 1em;

  > .__title::after {
    content: ":";
    margin-inline-start: 0.25em;
  }

  > .__year {
    margin-inline-start: 0;
  }
}

.skillList__item {
  > *:not(h3) {
    margin-inline-start: 1em;
  }
}

.skillList__smallTitle {
  padding-inline-start: 0.5em;
  font-size: 0.7em;
  font-weight: normal;
}
