.c-work {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;

  > h3 {
    margin-block-start: 0;
  }

  > dl {
    margin-block-start: 1em;

    > dt {
      margin-block-end: 0.2em;
      font-weight: bold;
    }

    > dd {
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.5em;
      margin-inline-start: 0;
    }
  }
}

.c-work__description {
  margin-block-start: 1em;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #aaa;
  }
}
