.c-mv {
  @media (--pc) {
    padding-block-start: 30px;
  }

  > :last-child {
    margin-block-end: 0;
  }
}

.c-mv__title {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 0;
  @media (--max-pc) {
    font-size: calc(26rem / 16);
  }
}
