<section class="c-section" id="career">
  <h2 class="c-section__primaryTitle">経歴</h2>
  <p>
    複数の企業・プロジェクトにおいて、Web制作およびマークアップ実装業務に携わってきました。<br>
    本項目では経歴の流れが分かるよう簡潔にまとめており、詳細な業務内容や実績は履歴書・職務経歴書にてご説明しています。
  </p>
  <dl class="c-definitionList">
    <dt>2010年 - 2014年</dt>
    <dd>
      <p>
        システム開発会社に入社。
        <br>
        C言語を使用して組み込み系システムを開発していました。ここでプラグラミングやGitについて学ぶことができました。
      </p>
    </dd>
    <dt>2015年</dt>
    <dd>
      <p>
        エンジニアとは全く関係の無い職種で入社。<br>
        しかし大学時代に興味のあったWebサイト制作をしてみたくなり転職を決めました。
      </p>
    </dd>
    <dt>2016年 - 2024年</dt>
    <dd>
      <p>
        Web制作会社に入社。<br>
        不動産、イベント、コーポレートサイト、採用サイトなどをコーダーとして担当しました。
      </p>
      <p>
        コロナ禍以降はフルリモート勤務となり、Chatwork、Zoom、Discordなどを利用しながら案件を進行しました。
      </p>
    </dd>
    <dt>2025年4月 - 5月</dt>
    <dd>
      <p>
        人材・インフラテック事業を行う企業に転職。<br>
        LP制作を担当しました。
      </p>
    </dd>
    <dt>2025年6月 - 現在</dt>
    <dd>
      <p>
        Web制作会社に業務委託として参画し、Web制作案件を担当。
      </p>
    </dd>
  </dl>
</section>