<header class="c-header" id="header">
  <button
    type="button"
    aria-expanded="false"
    aria-controls="menu"
    class="c-header__button js-menuButton"
  >
    <img
      src="./images/icon_bars.svg"
      alt="メニュー"
      width="10"
      height="10"
      decoding="async"
      class="__open"
    />
    <img
      src="./images/icon_xmark.svg"
      alt="メニュー"
      width="10"
      height="10"
      decoding="async"
      class="__close u-hidden"
    />
  </button>
  <nav class="c-header__nav" id="menu">
    <ul class="c-header__list">
      <li><a href="#works" class="js-menuButton">制作実績</a></li>
      <li><a href="#process-quality" class="js-menuButton">品質・制作方針</a></li>
      <li><a href="#skills" class="js-menuButton">スキルセット</a></li>
      <li><a href="#career" class="js-menuButton">経歴</a></li>
      <li><a href="#profile" class="js-menuButton">プロフィール</a></li>
      <li class="c-header__repoItem">
        <a
          href="https://github.com/sd-hakonekoman"
          target="_blank"
          rel="noreferrer"
          class="c-header__repoLink js-menuButton"
          data-blank-icon="false"
        >
          <img
            src="./images/icon_github.svg"
            alt="GitHubプロフィールへのリンク"
            width="32"
            height="32"
            decoding="async"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>