<section class="c-section c-profile" id="profile">
  <h2 class="c-section__primaryTitle">プロフィール</h2>
  <p>
    出身は北海道です。趣味はゲームです。<br>
    Webサイト制作には大学時代から興味がありXHTMLの参考書をやったりしていました。<br>
    その後システム開発会社に入ったりしましたが、色々ありオンラインスクールで学習後にWeb業界に入りました。
  </p>
  <h3>GitHub</h3>
  <ul class="c-profile__list">
    <li>
      <a
        href="https://github.com/sd-hakonekoman"
        target="_blank"
        rel="noreferrer"
        >GitHub</a
      >
    </li>
  </ul>
</section>